@import '../../styles/variables.css';

.input {
  color: var(--grey);
  font: inherit;
  font-size: 30px;
  font-weight: var(--font-light);
  padding: 20px var(--global-lr-pad);
  width: 100%;

  &:focus {
    outline: 0;
  }
}

@media (--small-up) {
  .input {
    font-size: 60px;
  }
}

@media (--medium-up) {
  .input {
    font-size: 80px;
  }
}
