@import '../../styles/variables.css';

.base {
  font-size: 30px;
  font-weight: var(--font-light);
}

@media (--small-up) {
  .base {
    font-size: 60px;
  }
}

@media (--medium-up) {
  .base {
    font-size: 80px;
  }
}
