.button {
  border-radius: 100px;
  color: inherit;
  display: inline-block;
  font: inherit;
  padding: 0.313em 0.983em; /* ~ 5px 15px */
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

.button:hover {
  cursor: pointer;
}
