:root {
  /*
   * Typography
   * ======================================================================== */

  --font-stack: 'Roboto', helvetica, arial, sans-serif;

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;

  /*
   * Layout
   * ======================================================================== */

  --viewport-lr-pad: 15px;
  --viewport-tb-pad: 20px;

  /*
   * Colors
   * ======================================================================== */

  --white: #fff;
  --black: #000;

  --purple-100: #e1bee7;
  --purple-500: #9b26af;
  --purple-700: #7a1ea1;
  --purple-800: #692a99;

  --green-100: #68efad;
  --green-800: #31613f;

  --pink-200: #ff4081;
}
