@import '../../styles/variables.css';

.base {
  color: var(--white);
  display: inline-block;
  font-weight: var(--font-light);

  &:not(:first-child) {
    margin-left: 5px;
  }
}

.link,
.active {
  composes: link from '../../styles/mixins.css';
}

.active,
.link:hover {
  background-color: var(--green-100);
  color: var(--purple-800);
}
