@import '../../styles/variables.css';

.base {
  align-items: center;
  background-color: var(--purple-200);
  box-shadow: 0 2px 5px color(var(--black) a(25%));
  display: flex;
  height: 60px;
  padding: 0 var(--global-pad);
  position: fixed;
  top: 0;
  width: 100%;
}

@media (--small-up) {
  .base {
    height: 70px;
  }
}
